.add-item-form {
  min-height: 50vh;
  justify-content: space-evenly;
}

.form-input {
  display: block;
  width: 100%;
  margin: 0;
  outline: 0;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #929292;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: box-shadow 0.2s;
  font-size: 1rem;
  color: var(--color-black);
  line-height: 1.5;
  box-sizing: border-box;
}

.form-input:focus {
  box-shadow: 0 1px 0 var(--color-blue);
  border-bottom-color: var(--color-blue);
  color: var(--color-blue);
}

.buttons {
  display: flex;
  justify-content: center;
}
.buttons .button:first-child {
  margin-right: 1rem;
}

@media screen and (max-width: 400px) {
  .buttons {
    flex-direction: column;
  }
  .buttons .button:first-child {
    margin-right: 1rem;
    margin-bottom: 0.5rem;
  }
}
